table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
  }
  
button {
    padding: 3px
}  

label {
    padding: 10px
}

input {
    padding: 3px
}

input:disabled {
    background: #dddddd;
}